/training/data

/venv9

/training/mlruns

/mlruns

/training/models/__pycache__

/training/models/AlexNet_best_model.pth
/training/models/CompactCNN_best_model.pth
/training/models/LeNet_best_model.pth
/training/models/SkipConnectionCNN_best_model.pth